@charset "utf-8"; 

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
html{
  overflow-x:hidden;
}
li{
  list-style-type: none;
} 
a{
  text-decoration: none; 
  color: inherit;  
}
article,aside,details,summary,figcaption,figure,footer,header,hgroup,main,nav,section{
  display: block;
}

#wrap{
	width:100%;
}
header, section, footer{width:inherit;} 

html{scroll-behavior: smooth;}
body{
  font-family: "Noto Sans", "Noto Sans KR", sans-serif;
  background-color: #151515;
}

/* ----------------------------section 공통-------------------------------- */
.s_text{
	display: block;
  text-align: center;
  border-top: 3px double #ffffff;
  border-bottom: 3px double #ffffff;
  height: 60px;
  line-height: 55px;
  box-sizing: border-box;
  margin: 170px auto 50px; /* 모든 마진 여기서 */
}
.s_text::before,
.s_text::after {
  content: '';
  display: block;
}
.s_text p{
  /* font-family: "Bebas Neue", sans-serif; */
  text-transform: uppercase;
  font-size: 30px;
  transition: 2s;
  color: #ffffff;
  font-weight: 600;
}
